body
{
    font-family: 'Segoe UI', sans-serif;
}

span
{
    font-style: italic;
}


.sudoku-board
{
    border: solid 1px black;
    border-spacing: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    display:table;
}

    .sudoku-board tr
    {
        display: flex;
        border-spacing: 0px;
        padding: 0px;
    }

    .sudoku-board td
    {
        border: solid 1px black;
        border-spacing: 0px;
        padding: 0px;
    }

.sudoku-cell
{
    border: solid 1px black;
    height: 22px;
    width: 22px;
    text-align: center;
    display: inline-block;
}

.fixed-cell
{
    background-color: cornflowerblue;
}

.current-cell
{
    background-color: orangered;
}

.fill
{
    margin: 4px 0 0 0;
    padding: 0 0 0 0;
}

.click-number
{
    padding: 1px 3px !important;
}

.isPause
{
    background-color:darkslategrey;
}

    .isPause:hover
    {
        background-color:green;
    }

    .isPause:focus
    {
        background-color: green;
    }
